@import "../../scss/variables";

//----------------------------------------------------------------------------
/* PHOTOGRAPHY */

.top_photography {
  display: flex;

  h2 {
    span {
      font-weight: normal;
      color: $secondary;
    }
  }

  .sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $secondary;
    font-size: 0.8rem;
    margin-left: auto;
    user-select: none;

    :not(:first-child) {
      margin-left: $space;
    }

    span {
      transform: rotate(90deg);
      font-size: 0.8rem;
    }

    select {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.photoAndFilter {
  display: flex;
}

aside {
  min-width: 200px;

  form {
    display: flex;
    flex-direction: column;
    & > label {
      margin-bottom: $space;
    }
  }

  .line {
    border-bottom: 2px solid $tertiary;
    max-width: 170px;
    margin-top: 18px;
    margin-bottom: $space;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $section;
  grid-row-gap: 10px;
}
