@import "variables";

@font-face {
  font-family: Archivo;
  src: url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
}

/* MOBILE  */
/* Portrait */
@media (max-width: 767px) and (orientation: portrait) {
  figure {
    margin: 0;
  }

  /* HEADER */
  header {
    .cart-bar {
      button {
        position: absolute;
        margin-top: 500px;
        width: 92%;
      }
    }

    section {
      display: block;
      margin-top: 90px;

      .info_photo_day {
        width: 100%;
      }

      .people_buy {
        display: flex;
        align-items: flex-start;
        width: 100%;

        figure {
          display: flex;
          justify-content: flex-end;

          .photo_day {
            width: 30%;
          }
        }
      }
    }
  }

  /* PHOTOGRAPHY */
  .top_photography {
    h2 {
      font-size: 1rem;
    }

    .icon_filter {
      display: block !important;
      cursor: pointer;
      user-select: none;
    }

    .icon_sort_select {
      display: none !important;
    }
  }

  .photoAndFilter {
    aside {
      display: none;
    }
  }

  .card {
    width: 100%;

    .img_card,
    img {
      width: 100% !important;
    }

    button {
      width: 100%;
      opacity: 100 !important;
      visibility: visible !important;
    }

    .item {
      .info_item {
        width: 300px;
      }

      img {
        width: 100px;
      }
    }
  }

  /* CART */
  .cart {
    width: 93%;
  }
}

//----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  //   margin: 0;
}

figure {
  margin: 0 !important;
}

body {
  margin-top: $section !important;
  margin: 4vw;
}

//----------------------------------------------------------------------------
/* NAVBAR */
nav {
  display: flex;
  /* LOGO */
  .logo {
    height: 100%;
    display: flex;
    align-items: center;
    width: 80%;
  }

  /* ICON CART */
  .icon_cart {
    display: flex;
    justify-content: flex-end;
    width: 20%;

    img {
      cursor: pointer;
      width: 30px;
      user-select: none;
    }
  }

  .numberCart {
    color: white;
    font-weight: bold;
    background-color: $primary;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: $leading;
    padding: 2px 5px;
    user-select: none;
  }
}

//----------------------------------------------------------------------------
/* HR */
hr {
  background-color: $tertiary;
  border: none;
  height: 2px !important;
  opacity: 1 !important;
}

//----------------------------------------------------------------------------
/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;

  a {
    margin-right: $leading;
    text-decoration: none;
    color: $light_grey;
    cursor: pointer;
    user-select: none;
  }

  .active {
    color: $primary;
    font-weight: 600;
  }
}
