@import "variables";

@font-face {
  font-family: Archivo;
  src: url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
}

//----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  //   margin: 0;
}

figure {
  margin: 0 !important;
}

body {
  margin-top: $section !important;
  margin: 4vw;
}

//----------------------------------------------------------------------------
/* NAVBAR */

/* LOGO */
.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

/* ICON CART */
.icon_cart {
  display: flex;
  justify-content: flex-end;

  img {
    cursor: pointer;
    width: 30px;
    user-select: none;
  }
}

.numberCart {
  color: white;
  font-weight: bold;
  background-color: $primary;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: $leading;
  padding: 2px 5px;
  user-select: none;
}

//----------------------------------------------------------------------------
/* HR */
hr {
  background-color: $tertiary;
  border: none;
  height: 2px !important;
  opacity: 1 !important;
}

//----------------------------------------------------------------------------
/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;

  a {
    margin-right: $leading;
    text-decoration: none;
    color: $light_grey;
    cursor: pointer;
    user-select: none;
  }

  .active {
    color: $primary;
    font-weight: 600;
  }
}
